.vscode/**
typings/**
out/test/**
out/pythonFiles/**
test/**
src/**
scripts/**
**/*.map
.gitignore
.gitmodules
images/**/*.gif
images/**/*.png
tsconfig.json
typings.json
pythonFiles/**/*.pyc
requirements.txt
.travis.yml
webpack.config.js